<form ng-submit="add()" class="media media-commenting">
    <a href="#" class="pull-left"><img ng-src="images/temp/face.jpg" alt="" class="img-circle face30"></a>
    <div class="media-body">
        <div class="form-group">
            <label ng-if="replyto" class="replyTo">回复：{{replyto}}</label>
            <textarea ng-model="comment" required ng-style="inputStyle" rows="{{inputRows}}" ng-focus="goComment()" class="form-control" placeholder="说点什么"></textarea>
        </div>
        <div class="text-right" ng-show="isFocus">
            <button class="btn btn-sm btn-primary" type="submit">发布</button>
        </div>
    </div>
</form>
