<div class="row">
<div class="col-sm-2">
    <div class="is-sidebar-left">
        <ul class="nav is-sidenav">
            <li class="active"><a href="#"><i class="icon icon-home"></i>首页</a></li>
            <li><a href="#"><i class="icon icon-newspaper"></i>档案</a>
            </li>
            <li><a href="#">
                <span class="badge pull-right">{{notify.count}}</span>
                <i class="icon icon-comment"></i>消息
            </a></li>
            <li><a href="#"><i class="icon icon-heart-empty"></i>收藏</a></li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{myGroup.link}}" class="small pull-right">管 理</a>
                <h2 class="panel-title">{{myGroup.title}}
                </h2>
            </div>
            <ul class="media-list friend-circle-list">
                <li ng-repeat="media in myGroup.list" class="media">
                    <a href="{{media.link || '#'}}" class="pull-left">
                        <img ng-src="{{media.imgUrl}}" class="media-object img-circle face30" alt="">
                    </a>
                    <div class="media-body">
                        <a href="{{media.link || '#'}}">{{media.title}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-7">
<div class="is-home-content">

    <div class="panel">
        <div class="panel-body">
            <form ng-submit="submit()" class="form-msg" ng-controller="formPublishCtrl">
                <div class="form-group">
                    <div class="clearfix form-msg-label">
                        <small class="pull-right">发言请遵守 <a href="#">新东方规约</a></small>
                        <label for="inputMsg">
                            我和 新东方 不得不说的故事
                        </label>
                    </div>
                    <div class="textarea-wrap">
                        <textarea ng-model="inputMsg" ng-focus="showBtn()" name="inputMsg" required id="inputMsg" rows="{{inptRows}}" class="form-control"></textarea>
                        <b class="caret" ng-show="isShowBtn"><b class="caret"></b></b>
                    </div>
                    <ul class="list-inline">
                        <li class="pull-right" ng-show="isShowBtn">
                            <button type="submit" id="submit" class="btn btn-sm btn-primary">发 布</button>
                        </li>
                        <li><a href="#"><i class="icon icon-img-blue icon-sm"></i>图片</a></li>
                        <li><a href="#"><i class="icon icon-file-blue icon-sm"></i>文件</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="msgs-container" ng-controller="msgListCtrl">
        <div class="panel panel-filter">
            <div class="panel-body">
                <div class="btn-group btn-group-filter" data-toggle="buttons">
                    <label class="btn active">
                        <input type="radio" name="msgType" ng-model="msgType" value="all"> 全部<b class="caret"></b>
                    </label>
                    <label class="btn">
                        <input type="radio" name="msgType" ng-model="msgType" value="img">
                        <i class="icon icon-sm icon-img"></i>图片<b class="caret"></b>
                    </label>
                    <label class="btn">
                        <input type="radio" name="msgType" ng-model="msgType" value="file">
                        <i class="icon icon-sm icon-file"></i>文件<b class="caret"></b>
                    </label>
                    <label class="btn">
                        <input type="radio" name="msgType" ng-model="msgType" value="checkin">
                        <i class="icon icon-sm icon-gps"></i>签到<b class="caret"></b>
                    </label>
                    <label class="btn">
                        <input type="radio" name="msgType" ng-model="msgType" value="link">
                        <i class="icon icon-sm icon-link"></i>链接<b class="caret"></b>
                    </label>
                    <label class="btn">
                        <input type="radio" name="msgType" ng-model="msgType" value="audio">
                        <i class="icon icon-sm icon-audio"></i>语音<b class="caret"></b>
                    </label>
                    <label class="btn">
                        <input type="radio" name="msgType" ng-model="msgType" value="video">
                        <i class="icon icon-sm icon-video"></i>视频<b class="caret"></b>
                    </label>
                </div>
            </div>
        </div>
        <a href="#" class="btn-load-news">
            <i class="icon icon-sm icon-loading-blue"></i>
            点击查看最新9条更新
        </a>
        <div class="panel-group">
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <div class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object img-circle face50"></div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h3 class="media-title">俞敏洪 <small>集团首席执行官</small></h3>
                            </div>
                            <p><small class="text-muted">1分钟前</small></p>
                        </div>
                    </div>
                    <p class="msg-content">在亚布力会议上，演讲时我提到网上有人流传东莞定律，就是打压可能会让色情行业更加繁荣。同时有人也提出黄宗羲定律，古代改革常常得到相反的结果，我希望现在中国不要重复黄宗羲定律。有媒体误导说“俞敏洪说东莞色情在打压后可能会更加繁荣”。这话不是我说的，定律也不是我的发明，特此说明一下。</p>
                    <div class="btn-toolbar msg-btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-heart-empty-blue"></i> 收藏
                            </button>
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-share-blue"></i> 分享
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-transmit-blue"></i> 转发
                            </button>
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-comment-blue"></i> 评论
                            </button>
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-thumb-up-blue"></i> 赞
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="like-counts">
                        <i class="icon icon-sm icon-thumb-up-blue"></i>
                        <a href="#">妙妙</a> 和
                        <a href="#">其他 2345 人</a> 喜欢
                    </div>
                    <a href="#" class="showAllComments">
                        <i class="icon icon-sm icon-comment-blue"></i>
                        查看全部 2344 条评论
                    </a>
                    <div class="media-list">
                        <div class="media">
                            <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="img-circle face30"></a>
                            <div class="media-body">
                                <div class="btn-group">
                                    <a href="#" title="回复" data-toggle="tooltip" class="icon icon-sm icon-reply-blue"></a>
                                    <a href="#" title="删除" data-toggle="tooltip" class="icon icon-sm icon-cross-blue"></a>
                                </div>
                                <p>
                                    <a href="#" class="media-title">刘德华</a>
                                    <small class="text-muted">有媒体误导说“俞敏洪说东莞色情在打压后可能会更加繁荣”。这话不是我说的，定律也不是我的发明，特此说明一下。</small>
                                </p>
                                <p><small class="text-muted">1分钟前</small></p>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="img-circle face30"></a>
                            <div class="media-body">
                                <div class="btn-group">
                                    <a href="#" title="回复" data-toggle="tooltip" class="icon icon-sm icon-reply-blue"></a>
                                    <a href="#" title="删除" data-toggle="tooltip" class="icon icon-sm icon-cross-blue"></a>
                                </div>
                                <p>
                                    <a href="#" class="media-title">刘德华</a>
                                    <small class="text-muted">有媒体误导说“俞敏洪说东莞色情在打压后可能会更加繁荣”。这话不是我说的，定律也不是我的发明，特此说明一下。</small>
                                </p>
                                <p><small class="text-muted">1分钟前</small></p>
                            </div>
                        </div>
                        <div class="media media-commenting">
                            <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="img-circle face30"></a>
                            <div class="media-body">
                                <div class="form-group isReply">
                                    <label for="commenting">@刘德华</label>
                                    <input type="text" id="commenting" value="" class="form-control" placeholder="说点什么">
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-sm btn-primary" type="button">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <div class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object img-circle face50"></div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h3 class="media-title">俞敏洪 <small>集团首席执行官</small></h3>
                            </div>
                            <p><small class="text-muted">1分钟前</small></p>
                        </div>
                    </div>
                    <div class="msg-content">
                        <p>亚布力会议上，演讲时我提到网上有人流传东莞定律</p>
                        <p>
                            <button class="btn btn-primary btn-block" type="button"> 点击播放语音  1"22'</button>
                        </p>
                    </div>
                    <div class="btn-toolbar msg-btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-heart-empty-blue"></i> 收藏
                            </button>
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-share-blue"></i> 分享
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-transmit-blue"></i> 转发
                            </button>
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-comment-blue"></i> 评论
                            </button>
                            <button class="btn btn-link" type="button">
                                <i class="icon icon-sm icon-thumb-up-blue"></i> 赞
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="like-counts">
                        <i class="icon icon-sm icon-thumb-up-blue"></i>
                        <a href="#">妙妙</a> 和
                        <a href="#">其他 2345 人</a> 喜欢
                    </div>
                    <a href="#" class="showAllComments">
                        <i class="icon icon-sm icon-comment-blue"></i>
                        查看全部 2344 条评论
                    </a>
                    <div class="media-list">

                        <div class="media media-commenting">
                            <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="img-circle face30"></a>
                            <div class="media-body">
                                <div class="form-group">
                                    <input type="text" id="commenting" value="" class="form-control" placeholder="说点什么">
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-sm btn-primary" type="button">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-sm-3">
<div class="is-sidebar-right">

<div class="panel panel-user">
    <div class="panel-body">
        <div class="text-center">
            <div class="page-header">
                <img src="images/temp/face.jpg" alt="" class="img-circle face160">
                <h1>李敏</h1>
                <p>集团知识管理中心知识管理经理</p>
            </div>
            <ul class="list-inline list-counts">
                <li>
                    <h4>219</h4>
                    <p>关注</p>
                </li>
                <li>
                    <h4>19</h4>
                    <p>粉丝</p>
                </li>
                <li>
                    <h4>1231</h4>
                    <p>动态</p>
                </li>
            </ul>
        </div>
        <ul class="list-inline list-thumbs list-app">
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-cloud icon-white"></i></span>
                    <h5>微盘</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-envelop icon-white"></i></span>
                    <h5>邮箱</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-inbox icon-white"></i></span>
                    <h5>OA</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-user icon-white"></i></span>
                    <h5>eHR</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-briefcase icon-white"></i></span>
                    <h5>CRM</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-card icon-white"></i></span>
                    <h5>报销</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-webpage icon-white"></i></span>
                    <h5>官网</h5>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon circle-blue-bg"><i class="icon icon-list icon-white"></i></span>
                    <h5>更多</h5>
                </a>
            </li>
        </ul>
        <div class="checkin-container">
            <div class="progress">
                <div class="progress-bar" style="width:60%;"></div>
            </div>
            <p>签到赢积分，送空间10G</p>
            <div class="well-checkin">
                <div class="clearfix">
                    <div class="pull-left">
                        <h6 class="time">2:20</h6>
                        <p>周四</p>
                    </div>
                    <div class="pull-right">
                        <h6 class="count">5</h6>
                        <p>共签到(天)</p>
                    </div>
                </div>
                <div class="checkin-btn">
                    <button class="btn btn-primary btn-lg btn-block" type="button">签到</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pager pull-right">
            <a href="#" class="disabled">
                <span class="icon icon-sm icon-arrow-left-blue"></span>
            </a>
            <a href="#" class="">
                <span class="icon icon-sm icon-arrow-right-blue"></span>
            </a>
        </div>
        <h2 class="panel-title">最近访客</h2>
    </div>
    <div class="panel-body">
        <ul class="list-inline list-thumbs list-face">
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
            <li><a href="#">
                <img class="face50 img-circle" src="images/temp/face.jpg" alt="">
                <h5>王丽娜</h5>
            </a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right"><i class="icon icon-sm icon-loading-blue"></i></div>
        <h2 class="panel-title">你可能认识</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list is-media-list">
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="pull-right">+ 关 注</a>
                        <h3 class="media-title">俞敏洪</h3>
                    </div>
                    <p class="mr60">集团首席执行官集团首席执行官</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="pull-right">+ 关 注</a>
                        <h3 class="media-title">俞敏洪</h3>
                    </div>
                    <p class="mr60">集团首席执行官集团首席执行官</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="pull-right">+ 关 注</a>
                        <h3 class="media-title">俞敏洪</h3>
                    </div>
                    <p class="mr60">集团首席执行官集团首席执行官</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="pull-right">+ 关 注</a>
                        <h3 class="media-title">俞敏洪</h3>
                    </div>
                    <p class="mr60">集团首席执行官集团首席执行官</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="pull-right">+ 关 注</a>
                        <h3 class="media-title">俞敏洪</h3>
                    </div>
                    <p class="mr60">集团首席执行官集团首席执行官</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right"><i class="icon icon-sm icon-loading-blue"></i></div>
        <h2 class="panel-title">Ta们最近很火</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list is-media-list">
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right"><i class="icon icon-sm icon-loading-blue"></i></div>
        <h2 class="panel-title">Ta们在这里扎堆</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list is-media-list">
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
            <li class="media">
                <a href="#" class="pull-left"><img src="images/temp/face.jpg" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">俞敏洪</strong>就是传说中的小火锅吗，我饿了啊，真心不靠谱啊...</p>
                </div>
            </li>
        </ul>
    </div>
</div>

</div>
</div>
</div>