<div class="row">
<div class="col-sm-2">
    <div class="is-sidebar-left">
        <ul class="nav is-sidenav">
            <li class="active"><a href="#"><i class="icon icon-home"></i>首页</a></li>
            <li><a href="#"><i class="icon icon-newspaper"></i>档案</a>
            </li>
            <li><a href="#">
                <span class="badge pull-right" ng-if="notify.count">{{notify.count}}</span>
                <i class="icon icon-comment"></i>消息
            </a></li>
            <li><a href="#"><i class="icon icon-heart-empty"></i>收藏</a></li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{myGroup.link}}" class="small pull-right">管 理</a>
                <h2 class="panel-title">{{myGroup.title}}
                </h2>
            </div>
            <ul class="media-list friend-circle-list">
                <li ng-repeat="media in myGroup.list" class="media">
                    <a href="{{media.link || '#'}}" class="pull-left">
                        <img ng-src="{{media.imgUrl}}" class="media-object img-circle face30" alt="">
                    </a>
                    <div class="media-body">
                        <a href="{{media.link || '#'}}">{{media.title}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-7">
<div class="is-home-content" ng-controller="articleListCtrl">
    <form ng-submit="submit()" class="form-msg" ng-controller="formPublishCtrl">
    <div class="panel">
        <div class="panel-body">

                <div class="form-group">
                    <div class="clearfix form-msg-label">
                        <small class="pull-right">发言请遵守 <a href="#">新东方规约</a></small>
                        <label for="inputMsg">
                            我和 新东方 不得不说的故事
                        </label>
                    </div>
                    <div class="textarea-wrap">
                        <textarea ng-model="inputMsg" name="inputMsg" required id="inputMsg" rows="3" class="form-control"></textarea>
                        <b class="caret" ><b class="caret"></b></b>
                    </div>
                    <ul class="list-inline">
                        <li class="pull-right">
                            <input type="hidden" value="txt" ng-model="pubType"/>
                            <button type="submit" id="submit" class="btn btn-sm btn-primary">发 布</button>
                        </li>
                        <li class="pull-right">
                            <a href="javascript:void(0)" ng-click="pubType = 'mention'">@提及</a>
                        </li>
                        <li><a href="javascript:void(0)" class="img" ng-click="pubType = 'txt'"><i class="icon icon-txt-blue icon-sm"></i>文字</a></li>
                        <li><a href="javascript:void(0)" class="img" ng-click="pubType = 'img'"><i class="icon icon-img-blue icon-sm"></i>图片</a></li>
                        <li><a href="javascript:void(0)" class="file" ng-click="pubType = 'file'"><i class="icon icon-file-blue icon-sm"></i>文件</a></li>
                        <li><a href="javascript:void(0)" class="link" ng-click="pubType = 'link'"><i class="icon icon-link-blue icon-sm"></i>链接</a></li>
                        <li><a href="javascript:void(0)" class="video" ng-click="pubType = 'video'"><i class="icon icon-video-blue icon-sm"></i>视频</a></li>
                    </ul>
                </div>


        </div>
    </div>
        <div ng-switch on="pubType">
            <div ng-switch-when="img" class="mod-publish-attach">
                <div class="hd">发布图片</div>
                <div class="bd">
                    <ul class="list-inline list-img">
                        <li ng-repeat="item in listImg"><img src="{{item.imgUrl}}" alt=""/><i ng-click="removeImg(item.id)" class="icon-close"></i></li>
                        <li><a class="add-img" href="javascript:void(0)">+</a></li>
                    </ul>
                </div>
            </div>
            <div ng-switch-when="file" class="mod-publish-attach">
                <div class="hd">发布文件</div>
                <div class="bd">
                    <button ng-click="uploadFile()" class="btn btn-link">点击上传文件</button>
                    <ul class="list-files">
                        <li ng-repeat="file in listFile">
                            <a class="remove pull-right" href="javascript:void(0)">删除</a>
                            <span>
                                <i class="icon icon-sm icon-format-{{file.type}}"></i>
                                {{file.name}}.{{file.type}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <div class="msgs-container" >
        <div class="panel panel-filter">
            <div class="panel-body">
                <div class="btn-group btn-group-filter">
                    <label class="btn{{articlesType==='all' ? ' active' : ''}}" ng-class="">
                        <input type="radio" name="articlesType" ng-change="getArticles()"  ng-model="articlesType" value="all">全部<b class="caret"></b>
                    </label>
                    <label class="btn{{articlesType==='txt' ? ' active' : ''}}">
                        <input type="radio" name="articlesType" ng-change="getArticles()" ng-model="articlesType" value="txt">
                        <i class="icon icon-sm icon-gps"></i>文字<b class="caret"></b>
                    </label>
                    <label class="btn{{articlesType==='img' ? ' active' : ''}}">
                        <input type="radio" name="articlesType" ng-change="getArticles()" ng-model="articlesType" value="img">
                        <i class="icon icon-sm icon-img"></i>图片<b class="caret"></b>
                    </label>
                    <label class="btn{{articlesType==='file' ? ' active' : ''}}">
                        <input type="radio" name="articlesType" ng-change="getArticles()" ng-model="articlesType" value="file">
                        <i class="icon icon-sm icon-file"></i>文件<b class="caret"></b>
                    </label>
                    <label class="btn{{articlesType==='link' ? ' active' : ''}}">
                        <input type="radio" name="articlesType"  ng-change="getArticles()" ng-model="articlesType" value="link">
                        <i class="icon icon-sm icon-link"></i>链接<b class="caret"></b>
                    </label>
                    <label class="btn{{articlesType==='audio' ? ' active' : ''}}">
                        <input type="radio" name="articlesType" ng-change="getArticles()" ng-model="articlesType" value="audio">
                        <i class="icon icon-sm icon-audio"></i>语音<b class="caret"></b>
                    </label>
                    <label class="btn{{articlesType==='video' ? ' active' : ''}}">
                        <input type="radio" name="articlesType" ng-change="getArticles()" ng-model="articlesType" value="video">
                        <i class="icon icon-sm icon-video"></i>视频<b class="caret"></b>
                    </label>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" ng-click="getArticles()" ng-if="latestCount > 0" class="btn-load-news">
            <i class="icon icon-sm icon-loading-blue"></i>
            点击查看最新 {{latestCount}} 条更新
        </a>
       <my-articles articles="articles" onadd="addComment(comment,success,error)" ondelete="deleteComment(id,success,error)"></my-articles>

    </div>
</div>
</div>
<div class="col-sm-3">
<div class="is-sidebar-right">

<div class="panel panel-user">
    <div class="panel-body">
        <div class="text-center">
            <div class="page-header">
                <img src="images/temp/face.jpg" alt="" class="img-circle face160">
                <h1>{{myInfo.name}}</h1>
                <p>{{myInfo.org}}</p>
            </div>
            <ul class="list-inline list-counts">
                <li>
                    <h4>{{myInfo.followCount}}</h4>
                    <p>关注</p>
                </li>
                <li>
                    <h4>{{myInfo.fansCount}}</h4>
                    <p>粉丝</p>
                </li>
                <li>
                    <h4>{{myInfo.articleCount}}</h4>
                    <p>动态</p>
                </li>
            </ul>
        </div>
        <ul class="list-inline list-thumbs list-app">
            <li ng-repeat="app in myInfo.myApps">
                <a href="{{app.url}}">
                    <span class="icon circle-blue-bg"><i class="icon icon-{{app.iconClass}} icon-white"></i></span>
                    <h5>{{app.appName}}</h5>
                </a>
            </li>
            <li>
                <a href="#more">
                    <span class="icon circle-blue-bg"><i class="icon icon-list icon-white"></i></span>
                    <h5>更多</h5>
                </a>
            </li>
        </ul>
        <div class="checkin-container">
            <div class="progress">
                <div class="progress-bar" style="width:{{(checkIn.vDisk.used/checkIn.vDisk.total)*100}}%;"></div>
            </div>
            <p>签到赢积分，送空间{{checkIn.vDisk.total}}G</p>
            <div class="well-checkin">
                <div class="clearfix">
                    <div class="pull-left">
                        <h6 my-current-time="timeFormat" class="time"></h6>
                        <p my-current-time="weekFormat"></p>
                    </div>
                    <div class="pull-right">
                        <h6 class="count">{{checkIn.checkIn.count}}</h6>
                        <p>共签到(天)</p>
                    </div>
                </div>
                <div class="checkin-btn">
                    <button ng-disabled="checkIn.checkIn.isChecked" ng-click="doCheckIn()" class="btn btn-primary btn-lg btn-block" type="button">签到</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-controller="recentVisitorsCtrl">
    <div class="panel-heading">
        <div class="pager pull-right">
            <a href="javascript:void(0)" ng-click="navigator('prev')" class="{{disabledPrev ? 'disabled' : ''}}">
                <span class="icon icon-sm icon-arrow-left-blue"></span>
            </a>
            <a href="javascript:void(0)" ng-click="navigator('next')" class="{{disabledNext ? 'disabled' : ''}}">
                <span class="icon icon-sm icon-arrow-right-blue"></span>
            </a>
        </div>
        <h2 class="panel-title">最近访客</h2>
    </div>
    <div class="panel-body">
        <ul class="list-inline list-thumbs list-face">
            <li ng-repeat="visitor in recentVisitors"><a href="{{visitor.link}}">
                <img class="face50 img-circle" ng-src="{{visitor.faceUrl}}" alt="">
                <h5>{{ visitor.name }}</h5>
            </a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default" ng-controller="mayKnowCtrl">
    <div class="panel-heading">
        <div class="pull-right"><i class="icon icon-sm icon-loading-blue"></i></div>
        <h2 class="panel-title">你可能认识</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list is-media-list">
            <li ng-repeat="item in mayKnowList" class="media">
                <a href="{{item.link}}" class="pull-left"><img ng-src="{{item.faceUrl}}" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <a href="javascript:void(0)" ng-click="doFollow(item.id)" class="pull-right">+ 关 注</a>
                        <h3 class="media-title">{{item.name}}</h3>
                    </div>
                    <p class="mr60">{{item.org}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default" ng-controller="hotPersonCtrl">
    <div class="panel-heading">
        <div class="pull-right"><i class="icon icon-sm icon-loading-blue"></i></div>
        <h2 class="panel-title">Ta们最近很火</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list is-media-list">
            <li ng-repeat="item in hotPersonList" class="media">
                <a href="{{item.link}}" class="pull-left"><img ng-src="{{item.faceUrl}}" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">{{item.name}}</strong>{{item.msg}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default" ng-controller="hotGroupCtrl">
    <div class="panel-heading">
        <div class="pull-right"><i class="icon icon-sm icon-loading-blue"></i></div>
        <h2 class="panel-title">Ta们在这里扎堆</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list is-media-list">
            <li ng-repeat="item in hotGroupList" class="media">
                <a href="{{item.link}}" class="pull-left"><img ng-src="{{item.faceUrl}}" alt="" class="media-object face50 img-circle"></a>
                <div class="media-body">
                    <p class="mt6"><strong class="media-title">{{item.name}}</strong>{{item.msg}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

</div>
</div>
</div>